<center><h2><%= t("user.prices") %></h2></center>

<br />
<%= will_paginate @list, :class => "digg_pagination pg" %>
<br />
<table class="price_table">

<tr>
<th>
#
</th>
<th>
<%= t("main_table.pic") %>
</th>
<th>
<%= t("main_table.category") %>
</th>
<th>
<%= t("main_table.name") %>
</th>
<th>
<%= t("main_table.desc") %>
</th>
<th>
<%= t("main_table.price") %>
</th>
</tr>

<% params[:page].nil? ? counter = 0 : counter = params[:page].to_i*10-10 %>
<% Array(@list).each do |item| %>
<% counter += 1 %>
<% !item.pictures.first.nil? ? img = File.dirname(item.pictures.first.try(:avatar).to_s)+"/thumb_"+File.basename(item.pictures.first.try(:avatar).to_s) : img = "/no_photo.jpg" %>
<tr>
<td>
<%= counter %>
</td>
<td>
<%= image_tag(img) %>
</td>
<td>
<%= item.category.try(:name) %> 
</td>

<td>
<%= item.try("name_#{I18n.locale}") %><br />
[&nbsp;<%= link_to I18n.t("main_table.edit_link"), edit_admin_price_url(item.id) %>&nbsp;]
</td>
<td>
<%= item.try("description_#{I18n.locale}") %> 
</td>

<td>
<%= item.value %>
</td>
</tr>
<% end %>
</table>

<br />
<%= will_paginate @list, :class => "digg_pagination pg" %>
<br />
